.Layout {
    min-height: calc(100vh - 8.3984375rem - 54.2695rem);
    margin-top: 8.23rem;
    /* background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out; */
}

div.LayoutWrapper {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out;
}