.menu-flags {
    height: 40px;
    border-radius: 4px;
    
}
.menu-flags > ul {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}
.menu-flags > ul > div {
    background-color: var(--background-color);
}
.menu-flags > ul > li:hover {
    background-color: gray;
}

.menu-flags-button {
    background-color: var(--background-color) !important;
    color: var(--primary-text-color) !important;
    border: 1px solid #ccc !important;
}
.menu-flags-button:focus {
    outline: none;
    background-color: rgba(138, 43, 226, 0.3) !important;
    border-color: blueviolet !important;
}
/* .ReactFlagsSelect-module_selectOptions {

} */