.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span.TotalCart {
position: absolute;
top: 1%;
right: 1%;
width: fit-content;
height: 22px;
border-radius: 50%;
border: 1px solid white;
background-color: var(--background-color);
color: var(--primary-text-color);
text-align: center;
/* padding: 4px 4px; */
padding: 2px 4px;
font-size: 12px;
}